@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Michroma';
  src: url('../fonts/Michroma.woff2') format('woff2'), url('Michroma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
