$white: #ffffff;
$black: #000000;
$gray: #ECECEC;
$gray_text: #828282;
$light_black: #313131;
$green: #009430;
$blue: #0040AE;
$yellow: #EFC924;
$red: #A30117;
$violet: #847DDD;
$gray_blue: #8EC6D3;
$border_gray: #D7D7D7;
$lighten: #F6F6F6;
