.about {
  padding: 100px 0;
  background-image: url('../img/about-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about__title {
  margin-bottom: 15px;
}

.about__subtitle {
  font-size: 25px;
  line-height: 1.2;
  color: $light_black;
  text-align: center;
}

.about__wrapper {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 25px;
}

.about__left {
  grid-column: auto / span 7;
}

.about__right {
  grid-column: auto / span 5;
}

.about__left p {
  margin: 0;
}

.about__left p:first-child {
  margin-bottom: 25px;
}

.about__link {
  max-width: 270px;
  margin-top: 50px;
  display: block;
  font-size: 25px;
  font-weight: 400;
  color: $light_black;
}

.about__link:hover {
  text-decoration: none;
}

.about__item {
  padding: 24px;
  border: 1px solid $border_gray;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 24px;
}

.about__item:last-child {
  margin-bottom: 0;
}

.about__icon-wrapper {
  max-width: 63px;
  flex-shrink: 0;
}

.about__item-text {
  margin: 0;
}

@media (max-width: 1024px) {
  .about {
    padding: 80px 0;
  }

  .about__subtitle {
    font-size: 22px;
  }

  .about__left {
    grid-column: auto / span 6;
  }

  .about__right {
    grid-column: auto / span 6;
  }

  .about__link {
    font-size: 23px;
  }
}

@media (max-width: 768px) {
  .about {
    padding: 70px 0;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .about__subtitle {
    font-size: 20px;
  }

  .about__wrapper {
    margin-top: 45px;
    row-gap: 30px;
  }

  .about__left {
    grid-column: auto / span 12;
  }

  .about__right {
    grid-column: auto / span 12;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    column-gap: 25px;
  }

  .about__item {
    width: 50%;
    margin-bottom: 0;
  }

  .about__link {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .about__right {
    display: block;
  }

  .about__item {
    width: 100%;
    padding: 20px;
  }

  .about__item:first-child {
    margin-bottom: 20px;
  }

  .about__item-text {
    flex-grow: 1;
  }
}

@media (max-width: 320px) {
  .about__item {
    display: block;
  }

  .about__icon-wrapper {
    margin: 0 auto;
    margin-bottom: 8px;
  }

  .about__item-text {
    text-align: center;
  }
}
